@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #6C8FC2;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: black;
}

.bio {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.footer {
  height: 20vh;
  background-color: black;
  color: white;
}

.header {
  position: relative;
  margin: auto;
  height: 100vh;
  background-color: #6C8FC2;
  overflow: hidden;
  z-index: 1;
}

.header p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 3rem;
  letter-spacing: 2px;
  opacity: 0.8;
  z-index: 4;
}

.header p:last-child {
  margin-bottom: 100px;
}

.header__info {
  position: absolute;
  top: 60%;
  left: 15%;
  height: 50px;
  width: 30%;
  z-index: 3;
}

.header__circle1 {
  position: absolute;
  width: 70vw;
  height: 70vw;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 2;
  background-color: #83c4f5;
}

.header__circle2 {
  position: absolute;
  background-color: yellow;
  width: 70vw;
  height: 70vw;
  right: 50%;
  bottom: 50%;
  border-radius: 50%;
  z-index: 2;
  background-color: #83c4f5;
  opacity: 0.9;
}

.header__pictures {
  position: absolute;
  right: 10%;
  top: 25%;
  width: 45vw;
  height: 30vw;
  background-image: url("../pictures/balloon.jpg");
  -webkit-box-shadow: 0 0 4px 1px #090C13;
          box-shadow: 0 0 4px 1px #090C13;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
  z-index: 10;
  overflow: hidden;
  -webkit-animation: mainPicture 6s linear infinite alternate;
          animation: mainPicture 6s linear infinite alternate;
}

@-webkit-keyframes mainPicture {
  to {
    background-size: 110%;
  }
}

@keyframes mainPicture {
  to {
    background-size: 110%;
  }
}

.balls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.ball {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: #485D7C;
  opacity: .6;
  color: white;
  visibility: hidden;
}

@media (max-width: 800px) {
  .burger {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 45px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .burger.active {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .burger span {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: black;
    left: 0;
    opacity: 0.7;
    -webkit-transition: top .2s .2s, bottom .2s .2s, opacity .2s .3s, -webkit-transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .3s, -webkit-transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, transform .2s .4s, opacity .2s .3s;
    transition: top .2s .2s, bottom .2s .2s, transform .2s .4s, opacity .2s .3s, -webkit-transform .2s .4s;
  }
  .burger span:nth-child(1) {
    top: 0;
  }
  .burger.active span:nth-child(1) {
    top: calc(50% - 5px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger span:nth-child(2) {
    top: calc(50% - 5px);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger span:nth-child(3) {
    bottom: 0;
  }
  .burger.active span:nth-child(3) {
    top: calc(50% - 5px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1500px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(131, 196, 245, 0.8);
  padding: 5px;
}

ul li {
  list-style: none;
  text-align: center;
  line-height: 80px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

ul li:hover {
  text-shadow: 1px 1px 10px white;
}

.profil {
  position: relative;
  border: 2px solid white;
  -webkit-box-shadow: 0 0 7px 1px white;
          box-shadow: 0 0 7px 1px white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-image: url("../pictures/profil1.png");
  z-index: 1;
}

.star__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.star__container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.star__element {
  position: absolute;
  top: 50%;
  left: -3px;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 5px white;
          box-shadow: 0px 0px 20px 5px white;
}

.star__element2 {
  position: absolute;
  top: 50%;
  right: -3px;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 5px white;
          box-shadow: 0px 0px 20px 5px white;
}

.main {
  position: relative;
  height: 100vh;
  background-color: #6c8fc2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.mainBall {
  position: absolute;
  background-color: #83C4F5;
  width: 70vw;
  height: 70vw;
  right: -20vw;
  top: -20vw;
  border-radius: 50%;
}

.main h1 {
  line-height: 150px;
  font-size: 1.6rem;
  color: black;
  text-align: center;
  width: 100%;
  background-color: #83C4F5;
  z-index: 1;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.main__container h2 {
  line-height: 3rem;
  letter-spacing: 1.5;
  font-size: 1.2rem;
  opacity: .8;
}

.main__container__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-left: 10%;
  padding-bottom: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.main__container__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-left: 5%;
  padding-top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #83C4F5;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.technologies h2 {
  line-height: 200px;
  width: 100%;
  text-align: center;
  background-color: #6C8FC2;
}

.technologies__container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  height: 100%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.technologies img {
  place-self: center;
  width: 40%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  background-color: chocolate;
}

.contactHeader {
  line-height: 150px;
  width: 100%;
  text-align: center;
  background-color: #6C8FC2;
}

.wrapContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(black)), url("../pictures/contact.jpg");
  background-image: linear-gradient(black, black), url("../pictures/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-blend-mode: saturation;
}

.form_info {
  color: white;
  width: 300px;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
}

#formSubject {
  border: none;
  background-color: blanchedalmond;
  height: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

#formText {
  border: none;
  background-color: blanchedalmond;
  cursor: pointer;
  margin-bottom: 10px;
}

#formText, #formSubject {
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#formText {
  min-height: 20vh;
}

#js_send {
  background-color: black;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

#js_send:hover {
  background-color: goldenrod;
}

#formText, #formSubject {
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#formText {
  min-height: 20vh;
}

body {
  background-color: #6C8FC2;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: black;
}

.bio {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.footer {
  height: 20vh;
  background-color: black;
  color: white;
}

.footer {
  height: 10vh;
  background-color: black;
  color: white;
  text-align: right;
  line-height: 10vh;
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */