.wrapper {
    font-family: $main-font;
    font-size: $main-font-size;
    width: 100%;

}



.main {
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: $main-font-size;

    & h1, h2, h3 {
        font-size: $main-font-size * 0.8;
        margin-right: 20%;
        margin-left: 10%;
        margin-bottom: $main-font-size;
    }

}

.technologies {

height: 100vh;
background-color: yellow;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

&__container {
    // background-color: gray;
    width: 90%;
    margin-top: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}
& img {
    width: 60px;
    height: 60px;
    margin: 10px;
}
}


.bio {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    img {
        position: absolute;
        height: 120%;
        opacity: 0.4;
        z-index: 2;
       
    }

}

.contact {
    height: 80vh;
    background-color: chocolate;
}


.footer {
    height: 20vh;
    background-color: black;
    color: white;
}





