.wrapper {
    font-family: $main-font;
    font-size: $main-font-size;
    width: 100%;
    background-color: black;

}



.bio {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    img {
        position: absolute;
        height: 120%;
        opacity: 0.4;
        z-index: 2;
       
    }

}

.contact {
    height: 80vh;
    background-color: chocolate;
}


.footer {
    height: 20vh;
    background-color: black;
    color: white;
}





