
.footer {
    position: relative;
    height: 10vh;
    background-color: $dark-blue;
    width: 100%;
    color: white;
    text-align: right;
    line-height: 10vh;
    margin-right: 100px;
    z-index: 1;
    & span {
        padding-right: 50px;
    }
}
