.header {
    position: relative;
    margin: auto;
    height: 100vh;
    background-color: rgb(105, 105, 77);
    background-color: #485D7C;
    overflow: hidden;
    z-index: 1;

    & p {
        color: whitesmoke;
        font-family: 'Montserrat', sans-serif;
        line-height: 3rem;
        letter-spacing: 2px;
        opacity: 0.6;
        z-index: 4;
        

    }
    & p:last-child {
        margin-bottom: 100px;
    }
}

.header__info {
position: absolute;
top: 60%;
left: 15%;
height: 50px;
width: 30%;
z-index: 3;
}


.header__circle1 {
    position: absolute;
    width: 70vw;
    height: 70vw;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: 2;
    background-color: #83c4f5;

}.header__circle2 {
    position: absolute;
    background-color: yellow;
    width: 70vw;
    height: 70vw;
    right: 50%;
    bottom: 50%;
    border-radius: 50%;
    z-index: 2;
    background-color: #83c4f5;

}

.header__pictures {
    position: absolute;
    right: 10%;
    top: 25%;
    width: 45vw;
    height: 30vw;
    background-image: url('../pictures/balloon.jpg');
    box-shadow: 0 0 4px 1px white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    z-index: 10;
    overflow: hidden;
    animation: mainPicture 6s linear infinite alternate;
 
}



@keyframes mainPicture {
    to {background-size: 110%}
    
}


.balls {
    position: absolute;
    display: flex;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.ball {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background-color: #485D7C;

    opacity: .6;
    color: white;
    visibility: hidden;
    
}




