




.header {
    position: relative;
    margin: auto;
    height: 100vh;
    background-color: #6C8FC2;
    overflow: hidden;
    z-index: 1;
    }




#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.header__info {
position: absolute;
top: 60%;
left: 20%;
height: 50px;
width: 30%;
z-index: 2;
@include phone {
    width: 80%;
    left: 15%;
}

& p {
    color: white;
    font-weight: bold;
    line-height: 3rem;
    letter-spacing: 2px;
    font-size: 20px;
    opacity: 0.8;
    z-index: 1;
    @include phone {
        font-size: 18px;
    }
    

}
& p:last-child {
  margin-bottom: 100px;
}
}


.header__circle1, .header__circle2 {
    position: absolute;
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    opacity: 0.8;
    z-index: 2;
    background-color: $dark-blue;
    @include phone {
        width: 250px;
        height: 250px;
    }
}


.header__circle1 {
    
    top: 20%;
    left: 12%;
    animation: circle 4s;
    @include phone {
        top: 55%;
     }
    
}
.header__circle2 {
    background-color: darkgoldenrod;
    left: 10%;
    top: 10%;
    animation: circle 2s;
    @include phone {
        top: 43%;
        left: 5%;
     }
}


