
 .main {
    position: relative;
    height: 100vh;
    // background-color:$blue-opacity;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;

}

.mainBall{
    position: absolute;
    background-color: $dark-blue-opacity;
    width: 70vw;
    height: 70vw;
    right: -20vw;
    top: -20vw;
    border-radius: 50%;

    @include phone {
        top: 20%;
        right: -50%;
        width: 500px;
        height: 500px;
    }


}

.main__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;


}

.main__container h2 {
    line-height: 3rem;
    letter-spacing: 1.5;
    font-size: 1.2rem;
    @include phone {
        font-size: 12px;
        letter-spacing: 1.5px;
        opacity: 0.9;
    }
    
}


.main__container__left, .main__container__right {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
}

.main__container__left {
padding-left: 15%;
padding-top: 7%;

@include phone {
    padding-left: 8%;
    padding-top: 15%;
 
}

}

.main__container__right {
padding-left: 55%;
padding-bottom: 10%;

@include phone {
    padding-left: 8%;
    padding-bottom: 20%;
    color: goldenrod;
}


}





