.technologies {

    display: flex;
    background-color: #83C4F5;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

    h2 {
        line-height: 200px;
        width: 100%;
        text-align: center;
        background-color: #6C8FC2;
        // border-top: 15px solid #83C4F5;
    }
    
    &__container {
     
        display: grid;
        width: 80%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }
    & img {
        place-self: center;
        width: 100px;
    
        // width: 15%;
        // height: 15%;
        // margin: 10px;
    }
    }