
$main-font: 'Montserrat', sans-serif;
$main-font-size: 16px;
$blue: #83C4F5;
$dark-blue: #0D6DCB;
$dark-blue-opacity: rgba(13, 109, 203, 0.7);
$blue-opacity: rgba(131, 196, 245, 0.7);


@mixin phone {
    @media (max-width: 599px) {
        @content;
    }
}
